@use 'constants' as *;
@use 'sass:math';

@function fluid($max:100, $min: 10, $isEndOFLaptop: false) {
  $maxViewportWidth: $container-desktop-width;
  $minViewportWidth: 390;

  @if($isEndOFLaptop) {
    $minViewportWidth: $container-laptop-width;
  }

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div( ($maxSize - $minSize), ($maxWidth - $minWidth) );
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1 rem}
  );
}

@function fluid-to-laptop($max:100, $min: 10) {
  @return fluid($max, $min, true);
}